<% title "Edit Comment" %>

<% form_for( :comment, :url => article_comment_path(@article,@comment) , :html => {:method => :put } ) do |f| -%>
	<%= render :partial => 'form', :locals => { :f => f , :submit_name => "Save Comment" } -%>
<% end -%>
<p>
  <%= link_to "Show", article_comment_path(@article,@comment) %> |
  <%= link_to "View All", article_comment_path(@article)  %>
</p>
